In [ ]:
import pandas as pd
from IPython import display

In [ ]:
category237 = pd.read_csv('237.csv')

In [ ]:
category239

In [ ]:
category237.loc[(category237['Year']==2012)&(category237['Month']==3)]

In [ ]:
categories=pd.read_csv('apparelcateg.csv')
categories
categories=categories['categories'].tolist()

In [ ]:
months=[1,2,3,4,5,6,7,8,9,10,11,12]
years=[2012,2013,2014,2015,2016,2017,2018,2019,2020,2021]

dfcat=pd.DataFrame()
for c in categories:
    category237=pd.read_csv(f'{c}.csv')
    for y in years:
        #print(y)
        yearn=category237.loc[(category237['Year']==y)]
        yearn['catgory']=c
        for m in months:
            #print(m)
            #print(yearn.loc[(yearn['Month']==m)])
            monthn=yearn.loc[(yearn['Month']==m)]
            monthn=monthn.reset_index()
            try:
                monthn['Valueperc'] = monthn['Value'] /monthn['Value'].values[0]
                monthn['quantityperc'] = monthn['Quantity']/monthn['Quantity'].values[0]
                dfcat=dfcat.append(monthn)
                #display.clear_output(wait=True)
            except Exception:
                pass
            #print(monthn)

In [78]:
dfcat.to_csv('allcountries.csv')

In [79]:
dfcat1=dfcat

In [80]:
dfcat

,index,Unnamed: 0,Country,Year,Month,Quantity,Value,catgory,Valueperc,quantityperc
0,0,0,World,2012,1,279192,11273312,237,1.000000,1.000000
1,1,1,_EU27,2012,1,170,73044,237,0.006479,0.000609
2,2,2,_EU28,2012,1,170,73044,237,0.006479,0.000609
3,3,3,_ASEAN,2012,1,64589,2245943,237,0.199227,0.231343
4,4,4,_NAFTA,2012,1,3988,308504,237,0.027366,0.014284
...,...,...,...,...,...,...,...,...,...,...
82,8770,510,Togo,2021,6,100,400,859,0.000017,0.000061
83,8771,511,Nigeria,2021,6,127,3910,859,0.000164,0.000077
84,8772,512,Ethiopia,2021,6,32,2026,859,0.000085,0.000019
85,8773,513,Madagascar,2021,6,52,11650,859,0.000490,0.000032
86,8774,514,South Africa,2021,6,273,26278,859,0.001104,0.000166

In [82]:
dfcat1.loc[dfcat1['Country'].isin(['Mexico','Guatemala','_CAFTA-DR','World','Dominican Republic','El Salvador','Honduras','Nicaragua','Costa Rica'])].Country.unique()

array(['World', '_CAFTA-DR', 'Mexico', 'Guatemala', 'El Salvador',
       'Honduras', 'Dominican Republic', 'Nicaragua', 'Costa Rica'],
      dtype=object)

In [83]:
dfcat1.loc[dfcat1['Country'].isin(['Mexico','Guatemala','_CAFTA-DR','World','Dominican Republic','El Salvador','Honduras','Nicaragua','Costa Rica'])].to_excel('otexa_cafta_retail.xlsx')